<!doctype html>
<html>

<head>
    <title>Market Strategy Backtester</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>
    <div class="row" style="margin-top: 100px">
        <div class="col-md-6 offset-md-3">
            <div class="card" style="width: 50rem;">
                <div class="card-body">
                    <h4 class="card-title">Upload Historical Data</h4>
                    <p class="card-text">Upload and check your Strategy.</p>
                </div>
                <div class="card-body">
                    <form name="uploadFile" class="upload-file-form" method="POST" enctype="multipart/form-data">
                        <!-- <input type="hidden" id='input-account' name="accounts"> -->
                        <div class="form-group inputDnD">
                            <input type="file" name="datafile" id="inputFile" accept=".xlsx" onchange="allowOnlyXlsx(this);">
                        </div>
                    </form>
                </div>
                <ul id="info" class="list-group list-group-flush"></ul>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js">
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script>
        var isAjax = false;
        
        $(function() {
            hideProgressBar();
            $('#upload-excel').click(function() {

                $("#filename").val('');
                if (!isAjax) {
                    hideProgressBar();
                }
            });

            $('form').submit(function(e) {
                $('#upload').modal('close');
                isAjax = true;
                var formData = new FormData($(this)[0]);
                var confirmation = confirm("Are you sure?");
                if (confirmation) {
                    $.ajax({
                        type: 'POST',
                        url: '/historical-data',
                        data: formData,
                        contentType: false,
                        processData: false
                    }).done(function(data) {
                        swal("File Uploaded");
                        console.log(data.length);
                        isAjax = false;
                    }).fail(function(err) {
                        alert(err.message);
                    });
                } else {
                        location.reload();
                }
            e.preventDefault();
            });
        });
        
        //entry function
        function allowOnlyXlsx(sender) {
            showProgressBar();
            var validExts = new Array(".xlsx");
            var fileExt = sender.value;
            fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
            if (validExts.indexOf(fileExt) < 0) {
                alert("Invalid file selected, valid files are of " + validExts.toString() + " types.");
                return false;
            } else {
                $('form').submit();
            }
        }
        function hideProgressBar() {
            $('.progress').hide();
        }

        function showProgressBar() {
            $('.progress').show();
        }
</script>

</html>