<!doctype html>
<html>

<head>
    <title>Market Strategy Backtester</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container">
        <div class="row main">
            <div class="main-login main-center">
            <h5>Market Strategy Backtester</h5>
            <p>Upload and check your Strategy.</p>
                <form class="" method="post" action="#">
                    
                    <div class="form-group">
                        <label for="upper_call_threshold" class="cols-sm-2 control-label">Upper Call Threshold</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-genderless fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="upper_call_threshold" id="upper_call_threshold"  placeholder="Enter Upper Call Threshold"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="lower_call_threshold" class="cols-sm-2 control-label">Lower Call Threshold</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-genderless fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="lower_call_threshold" id="lower_call_threshold"  placeholder="Enter Lower Call Threshold"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="upper_put_threshold" class="cols-sm-2 control-label">Upper Put Threshold</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-genderless fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="upper_put_threshold" id="upper_put_threshold"  placeholder="Enter Upper Put Threshold"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lower_put_threshold" class="cols-sm-2 control-label">Lower Put Threshold</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-genderless fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="lower_put_threshold" id="lower_put_threshold"  placeholder="Enter Lower Put Threshold"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <input type="file" name="datafile" id="inputFile" accept=".xlsx" onchange="allowOnlyXlsx(this);" type="button" id="button" class="btn btn-primary btn-lg btn-block"></input>
                    </div>

                    <div class="form-group ">
                        <a target="_blank" type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button" onclick="submit()" >Register</a>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    <div style="margin-left: 200px;margin-top: 50px">
        <div class="row">
            <div>
                <p style="text-align:center">Call Data</p>
                <table id="callTable" class="cell-border" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Date Time</th>
                            <th>Bid</th>
                            <th>Offer</th>
                            <th>Type</th>
                            <th>Action Triggered</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div>
                <p style="text-align:center">Put Data</p>
                <table id="putTable" class="cell-border" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Date Time</th>
                            <th>Bid</th>
                            <th>Offer</th>
                            <th>Type</th>
                            <th>Action Triggered</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone-with-data-2012-2022.js"></script>

<script>
        var isAjax = false;
        $(function() {
            hideProgressBar();

            var callTable = $('#callTable').DataTable({"ordering": false});
            var putTable = $('#putTable').DataTable({"ordering": false});

            $('#upload-excel').click(function() {

                $("#filename").val('');
                if (!isAjax) {
                    hideProgressBar();
                }
            });

            $('form').submit(function(e) {
                isAjax = true;
                var formData = new FormData($(this)[0]);
                // formData.append('callThreshold', $('#call_threshold').val());
                // formData.append('putThreshold', $('#call_threshold').val());
                var confirmation = confirm("Are you sure?");
                if (confirmation) {
                    $.ajax({
                        type: 'POST',
                        url: '/historical-data',
                        data: formData,
                        contentType: false,
                        processData: false
                    }).done(function(data) {
                        alert("Successfully Processed");
                        
                        // clears data
                        // $('form').find("input[type=text],input[type=file]").val("");
                        
                        // render data in Table
                        renderData(data.callResult, 'callTable');
                        renderData(data.putResult, 'putTable');
                        isAjax = false;
                    }).fail(function(err) {
                        alert(err.message);
                    });
                } else {
                        location.reload();
                }
            e.preventDefault();
            });
        });
        
        //entry function
        function allowOnlyXlsx(sender) {
            showProgressBar();
            var validExts = new Array(".xlsx");
            var fileExt = sender.value;
            fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
            if (validExts.indexOf(fileExt) < 0) {
                alert("Invalid file selected, valid files are of " + validExts.toString() + " types.");
                return false;
            }
            return true;
        }

        function submit(){
            $('form').submit();
        }

        function hideProgressBar() {
            $('.progress').hide();
        }

        function showProgressBar() {
            $('.progress').show();
        }

        function renderData(data, id){
            // $(`#${id} tbody`).empty();
            for(i=0 ; i<data.length ; i++){
                $(`#${id} tbody`).before(`
                    <tr class="child">
                        <td>${moment.utc(data[i].Time).format('HH:mm:ss')}<\/td>
                        <td>${data[i].Bid}<\/td>
                        <td>${data[i].Offer}<\/td>
                        <td>${data[i].Type}<\/td>
                        <td>${data[i].NoOfOrders}<\/td>
                    </tr>`);
            }
        }
</script>

</html>